<h1>Questions</h1>

<% @questions.each do |q| %>
  <div>
    <%= content_tag 'span', q.id , class: 'question' %>
    <%= content_tag 'span', q.question, class: 'question' %>
  </div>
  <div class='output'>
    <%= content_tag 'pre', q.output.strip! %>
  </div>
  <div class='answer'>
    <button class='show-answer'>Show Answer</button>
    <% q.answers.each do |a| %>
      <%= content_tag 'div',  a.answer.gsub("\n","<br/>").html_safe, class: 'answer-content' %>
    <% end %>
  </div>
  <hr/>
  <br/>
<% end %>

