<table  class="taco">
  <th>Stores with Requested Tacos and Salsas</th>
  <% @lunch.each do |lunch| %>
    <tr><td>
        <%= lunch.name %>
      </td>
      <td>
        <%= lunch.city.name%>
      </td>
    </tr>
  <% end %>  
</table>
