<% content_for :title do %>
  Taco Heaven
<% end  %>
<div class="row">
  <div class="small-offset-2 small-8 large-offset-2 large-8">
    <header >
        <h2 class="found-stores">Requested Tacos and Salsas</h2>
    </header>
  </div>
</div>
<div class="row">
  <div class="small-offset-1 small-10 large-offset-2 large-10">
    <table  class="taco">
      <tr>
        <td class="result">Store</td>
        <td class="result">City</td>
      </tr>
      <% if @lunch.empty? %>
        <tr>
          <td>Awww, Snap!</td>
        </tr>
        <tr>
          <td>Looks like you are going to have to simplify or mix things up a bit.</td>
        </tr>
      <% else %>
        <% @lunch.each do |lunch| %>
          <tr><td>
              <%= lunch.name %>
            </td>
            <td>
              <%= lunch.city.name%>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>

  <% if @lunch.empty? %>
  <div class="nav">
    <%= link_to "Try a Different Combo of Tacos/Salsas", tacos_salsas_path %>
  </div>
  <% end %>
</div>
