table.taco {
  th {
    text-align: left
  }
  td {
    width: 300px
  }
}

.taco-warning {
  color: red;
  font-weight: bold;
  padding-left: 40px
}

div.tacos {
  position: relative;
  float: left
}

div.salsas {
  position: relative;
  left: 60px
}

div.taco-heaven {
  position: relative;
  top: 60px;
  left: 300px
}

div.container {
  position: relative;
  top: 40px;
  left: 300px
}
h2 {
  margin: 0
}

h2.found-stores {
  margin-bottom: 30px
}

h2.store-tacos {
  margin-bottom: 20px
}

td {
  width: 360px
}

.nav {
  padding-top: 40px;
  position: relative;
  left: 60px;
  a {
    text-decoration: none;
    color: red;
    font-weight: bold
  }
}
