.row {
  margin-top: 2em;
}
.taco-warning {
  color: red;
  font-weight: bold;
  padding-left: 40px;
  background-color: #9ee4e8;
  margin: 0rem 0rem;
  padding: 0rem 0rem;
}

tr {
  background-color: #9ee4e8
}

.small-4 {
  margin-left: 2em;
}

.select {
  position: relative;
  white-space: nowrap
}
h2.found-stores {
  text-align: center;
}

.result {
  font-weight: bold;
}

.nav {
  padding-top: 40px;
  position: relative;
  left: 60px;
  a {
    text-decoration: none;
    color: red;
    font-weight: bold
  }
}
